<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu internetowego. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/02bd3f9c-dab6-465d-a4d5-0d7871a858db/resourceGroups/Project_1_api_for_automovie/providers/Microsoft.Web/sites/AutomovieRestApi</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://automovierestapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>e310323b-3bb6-419e-83ea-aa1a501eedcf</ProjectGuid>
    <PublishUrl>https://automovierestapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$AutomovieRestApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>